<li class="nav-item">
	<NavLink class="nav-link" href="/Report">
		<span class="nav-link-icon d-md-none d-lg-inline-block">
			<i class="ti ti-chart-dots"></i>
		</span>
		<span class="nav-link-title">Reports</span>
	</NavLink>
</li>

@code {

}