<li class="nav-item">
	<NavLink class="nav-link" href="/Activity">
		<span class="nav-link-icon d-md-none d-lg-inline-block">
			<i class="ti ti-calendar-event"></i>
		</span>
		<span class="nav-link-title">Activities</span>
	</NavLink>
</li>

@code {

}