<li class="nav-item">
	<NavLink class="nav-link" href="/Project">
		<span class="nav-link-icon d-md-none d-lg-inline-block">
			<i class="ti ti-clipboard-check"></i>
		</span>
		<span class="nav-link-title">Projects</span>
	</NavLink>
</li>

@code {

}