<li class="nav-item">
	<NavLink class="nav-link" href="/Product">
		<span class="nav-link-icon d-md-none d-lg-inline-block">
			<i class="ti ti-package"></i>
		</span>
		<span class="nav-link-title">Products</span>
	</NavLink>
</li>

@code {

}