<div class="nav-item dropdown">
	<a aria-label="Open user menu" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown" href="#">
		<span class="avatar avatar-sm" style="background-image: url(./images/avatars/000m.jpg)"></span>
		<div class="d-none d-xl-block ps-2">
			<div>Sarin Na Wangkanai</div>
			<div class="mt-1 small text-secondary">CEO</div>
		</div>
	</a>
	<div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
		<a class="dropdown-item" href="#">Status</a>
		<a class="dropdown-item" href="./profile.html">Profile</a>
		<a class="dropdown-item" href="#">Feedback</a>
		<div class="dropdown-divider"></div>
		<a class="dropdown-item" href="./settings.html">Settings</a>
		<a class="dropdown-item" href="./sign-in.html">Logout</a>
	</div>
</div>

@code {

}