<li class="nav-item">
	<NavLink class="nav-link" href="/Lead">
		<span class="nav-link-icon d-md-none d-lg-inline-block">
			<i class="ti ti-target"></i>
		</span>
		<span class="nav-link-title">Leads</span>
	</NavLink>
</li>

@code {

}