<li class="nav-item">
	<NavLink class="nav-link" href="/Contact">
		<span class="nav-link-icon d-md-none d-lg-inline-block">
			<i class="ti ti-address-book"></i>
		</span>
		<span class="nav-link-title">Contacts</span>
	</NavLink>
</li>

@code {

}