@inherits LayoutComponentBase

<div class="page">
	<MainAside />
	<div class="page-wrapper">
		@Body

		<MainFooter />

		<div id="blazor-error-ui">
			An unhandled error has occurred.
			<a class="reload" href="">Reload</a>
			<a class="dismiss">🗙</a>
		</div>
	</div>
</div>