@using Wangkanai.Architecture.Server.Components.Layout.Footer

<footer class="footer footer-transparent d-print-none">
	<div class="container-xl">
		<div class="row text-center align-items-center flex-row-reverse">
			<div class="col-lg-auto ms-lg-auto">
				<FooterDisclaimer />
			</div>
			<div class="col-12 col-lg-auto mt-3 mt-lg-0">
				<FooterCopyright />
			</div>
		</div>
	</div>
</footer>

@code {

}