@using Wangkanai.Architecture.Components.Layout.Sidebar
@attribute [RenderModeInteractiveAuto]

<div class="d-flex flex-column flex-shrink-0 bg-azure-lt">
	<SidebarBrand />
	<SidebarMenu />
</div>

@code {
	bool ShowMore { get; set; }
	void ToggleMore() => ShowMore = !ShowMore;
}