@using Wangkanai.Architecture.Components.Layout.Aside
@using Wangkanai.Architecture.Components.Layout.Offcanvas

<aside class="navbar navbar-vertical navbar-expand-lg">
	<div class="container-fluid">
		<AsideBrand />
		<AsideNavbar />
		<AsideMenu ShowSetting="SettingOpenOffcanvas" />
	</div>
</aside>
<OffcanvasSetting Show="@SettingOpenOffcanvas" />

@code {
	private bool SettingOpenOffcanvas = false;
}