<header class="navbar navbar-expand-md d-print-none">
	<div class="container-fluid">
		<div class="collapse navbar-collapse">
			@* <HeaderBreadcrumb Title="@Title" /> *@
		</div>
		<div class="navbar-nav flex-row order-md-last">
			@* <HeaderProfile /> *@
		</div>
	</div>
</header>

@code {

	[Parameter]
	public string Title { get; set; }

}