@using Wangkanai.Architecture.Components.Layout.Aside

<div class="container-fluid">
	<button aria-controls="sidebar-menu" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#sidebar-menu" data-bs-toggle="collapse" type="button">
		<span class="navbar-toggler-icon"></span>
	</button>
	<h1 class="navbar-brand navbar-brand-autodark">
		<NavLink href="/">
			<img alt="Wangkanai" class="navbar-brand-image" height="110" src="./images/logo.svg" width="110">
		</NavLink>
	</h1>
	<AsideNavbar />
</div>

@code {

}