<ul class="list-inline list-inline-dots mb-0">
	<li class="list-inline-item">
		<a href="https://github.com/wangkanai/wangkanai" target="_blank" class="link-secondary" rel="noopener">Source code</a>
	</li>
	<li class="list-inline-item">
		<a href="https://github.com/sponsors/wangkanai" target="_blank" class="link-secondary" rel="noopener">
			<i class="ti ti-heart icon text-pink icon-filled icon-inline"></i> Sponsor
		</a>
	</li>
</ul>

@code {

}