<NavLink href="/" class="d-block p-3 link-body-emphasis text-decoration-none navbar-brand-autodark" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Pipeline">
	<img alt="Wangkanai" class="navbar-brand-image" src="./images/logo.svg" width="64" height="64">
	<span class="visually-hidden">Pipeline</span>
</NavLink>

@code {

}