<div class="nav-item">
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<NavLink href="/" class="ms-2">
				<i class="ti ti-home"></i>
			</NavLink>
		</li>
		<li class="breadcrumb-item active">
			@Title
		</li>
	</ol>
</div>

@code {

	[Parameter]
	public string Title { get; set; }

}