<div class="nav-item dropdown">
	<a class="nav-link d-flex 1h-1 text-reset p-0" href="#">
		<span class="avatar avatar-sm" style="background-image: url(./images/avatars/000m.jpg)"></span>
		<div class="d-none d-xl-block ps-2">
			<div>Sarin Na Wangkanai</div>
			<div class="mt-1 small text-secondary">CEO</div>
		</div>
	</a>
</div>

@code {

}