<ol class="breadcrumb">
	<li class="breadcrumb-item">
		<NavLink href="/" class="ms-2">
			<i class="ti ti-home"></i>
		</NavLink>
	</li>
	<li class="breadcrumb-item active">
		@Title
	</li>
</ol>

@code {

	[Parameter]
	public string Title { get; set; }

}