<div class="btn-list">
	<a href="https://github.com/wangkanai/wangkanai" class="btn" target="_blank" rel="noreferrer">
		<i class="ti ti-brand-github icon"></i>
		Source code
	</a>
	<a href="https://github.com/sponsors/wangkanai" class="btn" target="_blank" rel="noreferrer">
		<i class="ti ti-heart icon"></i>
		Sponsor
	</a>
</div>

@code {

}