<li class="nav-item dropdown">
	<a aria-controls="offcanvasStart" aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="offcanvas" href="#offcanvasSetting" role="button">
		<span class="nav-link-icon d-md-none d-lg-inline-block">
			<i class="ti ti-dots"></i>
		</span>
		<span class="nav-link-title">Settings</span>
	</a>
</li>

@code {

	[Parameter]
	public bool Show { get; set; }

}