<li class="nav-item">
	<a class="nav-link" href="./">
		<span class="nav-link-icon d-md-none d-lg-inline-block">
			<i class="ti ti-package"></i>
		</span>
		<span class="nav-link-title">Products</span>
	</a>
</li>

@code {

}