<div class="navbar-collapse collapse" id="sidebar-menu" style="">
<ul class="navbar-nav pt-lg-3">
<li class="nav-item">
	<a class="nav-link" href="./">
		<span class="nav-link-icon d-md-none d-lg-inline-block">
			<i class="ti ti-home"></i>
		</span>
		<span class="nav-link-title">Home</span>
	</a>
</li>
<li class="nav-item dropdown">
	<a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-auto-close="false" data-bs-toggle="dropdown" href="#navbar-base" role="button">
		<span class="nav-link-icon d-md-none d-lg-inline-block">
			<i class="ti ti-package"></i>
		</span>
		<span class="nav-link-title">Interface</span>
	</a>
	<div class="dropdown-menu">
		<div class="dropdown-menu-columns">
			<div class="dropdown-menu-column">
				<a class="dropdown-item" href="./alerts.html">Alerts</a>
				<a class="dropdown-item" href="./accordion.html">Accordion</a>
				<div class="dropend">
					<a aria-expanded="false" class="dropdown-item dropdown-toggle" data-bs-auto-close="false" data-bs-toggle="dropdown" href="#sidebar-authentication" role="button">
						Authentication
					</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="./sign-in.html">
							Sign in
						</a>
						<a class="dropdown-item" href="./sign-in-link.html">
							Sign in link
						</a>
						<a class="dropdown-item" href="./sign-in-illustration.html">
							Sign in with illustration
						</a>
						<a class="dropdown-item" href="./sign-in-cover.html">
							Sign in with cover
						</a>
						<a class="dropdown-item" href="./sign-up.html">
							Sign up
						</a>
						<a class="dropdown-item" href="./forgot-password.html">
							Forgot password
						</a>
						<a class="dropdown-item" href="./terms-of-service.html">
							Terms of service
						</a>
						<a class="dropdown-item" href="./auth-lock.html">
							Lock screen
						</a>
						<a class="dropdown-item" href="./2-step-verification.html">
							2 step verification
						</a>
						<a class="dropdown-item" href="./2-step-verification-code.html">
							2 step verification code
						</a>
					</div>
				</div>
				<a class="dropdown-item" href="./blank.html">
					Blank page
				</a>
				<a class="dropdown-item" href="./badges.html">
					Badges
					<span class="badge badge-sm bg-green-lt text-uppercase ms-auto">New</span>
				</a>
				<a class="dropdown-item" href="./buttons.html">
					Buttons
				</a>
				<div class="dropend">
					<a aria-expanded="false" class="dropdown-item dropdown-toggle" data-bs-auto-close="false" data-bs-toggle="dropdown" href="#sidebar-cards" role="button">
						Cards
						<span class="badge badge-sm bg-green-lt text-uppercase ms-auto">New</span>
					</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="./cards.html">
							Sample cards
						</a>
						<a class="dropdown-item" href="./card-actions.html">
							Card actions
							<span class="badge badge-sm bg-green-lt text-uppercase ms-auto">New</span>
						</a>
						<a class="dropdown-item" href="./cards-masonry.html">
							Cards Masonry
						</a>
					</div>
				</div>
				<a class="dropdown-item" href="./carousel.html">
					Carousel
					<span class="badge badge-sm bg-green-lt text-uppercase ms-auto">New</span>
				</a>
				<a class="dropdown-item" href="./charts.html">
					Charts
				</a>
				<a class="dropdown-item" href="./colors.html">
					Colors
				</a>
				<a class="dropdown-item" href="./colorpicker.html">
					Color picker
					<span class="badge badge-sm bg-green-lt text-uppercase ms-auto">New</span>
				</a>
				<a class="dropdown-item" href="./datagrid.html">
					Data grid
					<span class="badge badge-sm bg-green-lt text-uppercase ms-auto">New</span>
				</a>
				<a class="dropdown-item" href="./datatables.html">
					Datatables
					<span class="badge badge-sm bg-green-lt text-uppercase ms-auto">New</span>
				</a>
				<a class="dropdown-item" href="./dropdowns.html">
					Dropdowns
				</a>
				<a class="dropdown-item" href="./dropzone.html">
					Dropzone
					<span class="badge badge-sm bg-green-lt text-uppercase ms-auto">New</span>
				</a>
				<div class="dropend">
					<a aria-expanded="false" class="dropdown-item dropdown-toggle" data-bs-auto-close="false" data-bs-toggle="dropdown" href="#sidebar-error" role="button">
						Error pages
					</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="./error-404.html">
							404 page
						</a>
						<a class="dropdown-item" href="./error-500.html">
							500 page
						</a>
						<a class="dropdown-item" href="./error-maintenance.html">
							Maintenance page
						</a>
					</div>
				</div>
				<a class="dropdown-item" href="./flags.html">
					Flags
					<span class="badge badge-sm bg-green-lt text-uppercase ms-auto">New</span>
				</a>
				<a class="dropdown-item" href="./inline-player.html">
					Inline player
					<span class="badge badge-sm bg-green-lt text-uppercase ms-auto">New</span>
				</a>
			</div>
			<div class="dropdown-menu-column">
				<a class="dropdown-item" href="./lightbox.html">
					Lightbox
					<span class="badge badge-sm bg-green-lt text-uppercase ms-auto">New</span>
				</a>
				<a class="dropdown-item" href="./lists.html">
					Lists
				</a>
				<a class="dropdown-item" href="./modals.html">
					Modal
				</a>
				<a class="dropdown-item" href="./maps.html">
					Map
				</a>
				<a class="dropdown-item" href="./map-fullsize.html">
					Map fullsize
				</a>
				<a class="dropdown-item" href="./maps-vector.html">
					Map vector
					<span class="badge badge-sm bg-green-lt text-uppercase ms-auto">New</span>
				</a>
				<a class="dropdown-item" href="./markdown.html">
					Markdown
				</a>
				<a class="dropdown-item" href="./navigation.html">
					Navigation
				</a>
				<a class="dropdown-item" href="./offcanvas.html">
					Offcanvas
				</a>
				<a class="dropdown-item" href="./pagination.html">
					<!-- Download SVG icon from http://tabler-icons.io/i/pie-chart -->
					Pagination
				</a>
				<a class="dropdown-item" href="./placeholder.html">
					Placeholder
				</a>
				<a class="dropdown-item" href="./steps.html">
					Steps
					<span class="badge badge-sm bg-green-lt text-uppercase ms-auto">New</span>
				</a>
				<a class="dropdown-item" href="./stars-rating.html">
					Stars rating
					<span class="badge badge-sm bg-green-lt text-uppercase ms-auto">New</span>
				</a>
				<a class="dropdown-item" href="./tabs.html">
					Tabs
				</a>
				<a class="dropdown-item" href="./tags.html">
					Tags
				</a>
				<a class="dropdown-item" href="./tables.html">
					Tables
				</a>
				<a class="dropdown-item" href="./typography.html">
					Typography
				</a>
				<a class="dropdown-item" href="./tinymce.html">TinyMCE<span class="badge badge-sm bg-green-lt text-uppercase ms-auto">New</span></a>
			</div>
		</div>
	</div>
</li>
<li class="nav-item">
	<a class="nav-link" href="./form-elements.html">
		<span class="nav-link-icon d-md-none d-lg-inline-block">
			<i class="ti ti-checkbox"></i>
		</span>
		<span class="nav-link-title">Forms</span>
	</a>
</li>
<li class="nav-item dropdown">
	<a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-auto-close="false" data-bs-toggle="dropdown" href="#navbar-extra" role="button">
		<span class="nav-link-icon d-md-none d-lg-inline-block">
			<i class="ti ti-star"></i>
		</span>
		<span class="nav-link-title">
			Extra
		</span>
	</a>
	<div class="dropdown-menu">
		<div class="dropdown-menu-columns">
			<div class="dropdown-menu-column">
				<a class="dropdown-item" href="./empty.html">
					Empty page
				</a>
				<a class="dropdown-item" href="./cookie-banner.html">
					Cookie banner
					<span class="badge badge-sm bg-green-lt text-uppercase ms-auto">New</span>
				</a>
				<a class="dropdown-item" href="./chat.html">
					Chat
					<span class="badge badge-sm bg-green-lt text-uppercase ms-auto">New</span>
				</a>
				<a class="dropdown-item" href="./activity.html">
					Activity
				</a>
				<a class="dropdown-item" href="./gallery.html">
					Gallery
				</a>
				<a class="dropdown-item" href="./invoice.html">
					Invoice
				</a>
				<a class="dropdown-item" href="./search-results.html">
					Search results
				</a>
				<a class="dropdown-item" href="./pricing.html">
					Pricing cards
				</a>
				<a class="dropdown-item" href="./pricing-table.html">
					Pricing table
				</a>
				<a class="dropdown-item" href="./faq.html">
					FAQ
					<span class="badge badge-sm bg-green-lt text-uppercase ms-auto">New</span>
				</a>
				<a class="dropdown-item" href="./users.html">
					Users
				</a>
				<a class="dropdown-item" href="./license.html">
					License
				</a>
			</div>
			<div class="dropdown-menu-column">
				<a class="dropdown-item" href="./logs.html">
					Logs
					<span class="badge badge-sm bg-green-lt text-uppercase ms-auto">New</span>
				</a>
				<a class="dropdown-item" href="./music.html">
					Music
				</a>
				<a class="dropdown-item" href="./photogrid.html">
					Photogrid
					<span class="badge badge-sm bg-green-lt text-uppercase ms-auto">New</span>
				</a>
				<a class="dropdown-item" href="./tasks.html">
					Tasks
					<span class="badge badge-sm bg-green-lt text-uppercase ms-auto">New</span>
				</a>
				<a class="dropdown-item" href="./uptime.html">
					Uptime monitor
				</a>
				<a class="dropdown-item" href="./widgets.html">
					Widgets
				</a>
				<a class="dropdown-item" href="./wizard.html">
					Wizard
				</a>
				<a class="dropdown-item" href="./settings.html">
					Settings
					<span class="badge badge-sm bg-green-lt text-uppercase ms-auto">New</span>
				</a>
				<a class="dropdown-item" href="./trial-ended.html">
					Trial ended
					<span class="badge badge-sm bg-green-lt text-uppercase ms-auto">New</span>
				</a>
				<a class="dropdown-item" href="./job-listing.html">
					Job listing
					<span class="badge badge-sm bg-green-lt text-uppercase ms-auto">New</span>
				</a>
				<a class="dropdown-item" href="./page-loader.html">
					Page loader
					<span class="badge badge-sm bg-green-lt text-uppercase ms-auto">New</span>
				</a>
			</div>
		</div>
	</div>
</li>
<li class="nav-item active dropdown">
	<a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-auto-close="false" data-bs-toggle="dropdown" href="#navbar-layout" role="button">
		<span class="nav-link-icon d-md-none d-lg-inline-block">
			<i class="ti ti-layout-2"></i>
		</span>
		<span class="nav-link-title">Layout</span>
	</a>
	<div class="dropdown-menu">
		<div class="dropdown-menu-columns">
			<div class="dropdown-menu-column">
				<a class="dropdown-item" href="./layout-horizontal.html">
					Horizontal
				</a>
				<a class="dropdown-item" href="./layout-boxed.html">
					Boxed
					<span class="badge badge-sm bg-green-lt text-uppercase ms-auto">New</span>
				</a>
				<a class="dropdown-item active" href="./layout-vertical.html">
					Vertical
				</a>
				<a class="dropdown-item" href="./layout-vertical-transparent.html">
					Vertical transparent
				</a>
				<a class="dropdown-item" href="./layout-vertical-right.html">
					Right vertical
				</a>
				<a class="dropdown-item" href="./layout-condensed.html">
					Condensed
				</a>
				<a class="dropdown-item" href="./layout-combo.html">
					Combined
				</a>
			</div>
			<div class="dropdown-menu-column">
				<a class="dropdown-item" href="./layout-navbar-dark.html">
					Navbar dark
				</a>
				<a class="dropdown-item" href="./layout-navbar-sticky.html">
					Navbar sticky
				</a>
				<a class="dropdown-item" href="./layout-navbar-overlap.html">
					Navbar overlap
				</a>
				<a class="dropdown-item" href="./layout-rtl.html">
					RTL mode
				</a>
				<a class="dropdown-item" href="./layout-fluid.html">
					Fluid
				</a>
				<a class="dropdown-item" href="./layout-fluid-vertical.html">
					Fluid vertical
				</a>
			</div>
		</div>
	</div>
</li>
<li class="nav-item">
	<a class="nav-link" href="./icons.html">
		<span class="nav-link-icon d-md-none d-lg-inline-block">
			<i class="ti ti-ghost"></i>
		</span>
		<span class="nav-link-title">
			4713 icons
		</span>
	</a>
</li>
<li class="nav-item">
	<a class="nav-link" href="./emails.html">
		<span class="nav-link-icon d-md-none d-lg-inline-block">
			<i class="ti ti-mail-opened"></i>
		</span>
		<span class="nav-link-title"> Email templates</span>
	</a>
</li>
<li class="nav-item dropdown">
	<a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-auto-close="false" data-bs-toggle="dropdown" href="#navbar-help" role="button">
		<span class="nav-link-icon d-md-none d-lg-inline-block">
			<i class="ti ti-lifebuoy"></i>
		</span>
		<span class="nav-link-title">
			Help
		</span>
	</a>
	<div class="dropdown-menu">
		<a class="dropdown-item" href="https://tabler.io/docs" rel="noopener" target="_blank">
			Documentation
		</a>
		<a class="dropdown-item" href="./changelog.html">
			Changelog
		</a>
		<a class="dropdown-item" href="https://github.com/tabler/tabler" rel="noopener" target="_blank">
			Source code
		</a>
		<a class="dropdown-item text-pink" href="https://github.com/sponsors/codecalm" rel="noopener" target="_blank">
			<i class="ti ti-heart"></i> Sponsor project!
		</a>
	</div>
</li>
</ul>
</div>

@code {

}