<div class="navbar-collapse collapse" id="sidebar-menu" style="">
	<ul class="navbar-nav pt-lg-3">
		@* <AsideMenuHome /> *@
		<AsideMenuLead />
		<AsideMenuDeal />
		<AsideMenuProject />
		<AsideMenuContact />
		<AsideMenuProduct />
		<AsideMenuReport />
		<AsideMenuSetting Show="ShowSetting" />
	</ul>
</div>

@code {

	[Parameter]
	public bool ShowSetting { get; set; }

}