@using Wangkanai.Architecture.Client.Components.Layout.Sidebar
@attribute [RenderModeInteractiveAuto]

<div class="d-flex flex-column flex-shrink-0 bg-azure-lt">
	<SidebarBrand />

</div>

@code {
	bool ShowMore { get; set; }
	void ToggleMore() => ShowMore = !ShowMore;
}