@using Wangkanai.Architecture.Client.Components.Layout.Aside
@attribute [RenderModeInteractiveAuto]

<aside class="navbar navbar-vertical navbar-expand-lg">
	<div class="container-fluid">
		<AsideBrand />
		<AsideNavbar />
		<div class="navbar-collapse collapse" id="sidebar-menu" style="">
			<ul class="navbar-nav pt-lg-3">
				<AsideMenuLead />
				<AsideMenuDeal />
				<AsideMenuProject />
				<AsideMenuContact />
				<AsideMenuProduct />
				<AsideMenuReport />
				<AsideMenuMore Show="Show" ShowHasChanged="Toggle" />
			</ul>
		</div>
	</div>
</aside>
<MainAsideMore Show="Show" ShowHasChanged="Toggle" />

@code {
	protected bool Show { get; set; }
	void Toggle() => Show = !Show;
}